.theme{
    height: 100vh;
    margin: 0%;
    width: 100%;
    align-items: center;
    display: flex;
    flex-direction: column;
    gap: 50px;

.center-part{
    display: flex;
    height: fit-content;
    margin: 0%;
    width: 80%;
}
}

.root{
    height: 100vh;
}
