.home{
    display: flex;
    flex-direction: column;
    width: 100%;
    gap: 20px;

    .title{
        box-shadow: 2px 2px 2px 2px #2E4535;

        background:  #2E4535;
        border-radius: 5px;
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 100%;

        span{
            font-size: 40px;
            color: aliceblue;
            font-weight: bold;
        }
    }

    .courses-all{
        gap: 20px;
        display: flex;
        flex-direction: column;
    }

    
}