
.navbar{

    .icon{
        color: aliceblue;
    }


    margin: 0px;
    box-shadow: 10px 10px 10px 20px   #2e5f3d; 
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px 20px;
    height: 90px;
    background-image: linear-gradient(to right,  #2E4535, #428C59, #2E4535);
    border-radius: 10px;

    .left{
        
        display: flex;
        align-items: center;
        gap: 5%;

        span{
            font-weight: bold;
            font-size: 50px;
            color: aliceblue;
        }

        .menu-button{
            display: flex;
            align-items: center;
            justify-content: space-between;
            font-size: medium;
            color: aliceblue;
            background-color: #2E4535;
            border-radius: 10px;
            border: 0cm;

        }
        .menu-button:hover{
            background-color: #428C59;
            cursor: pointer;
        }

    }

    .right{
        display: flex;
        align-items: center;
        gap: 20px;

        .menu-button{
            display: flex;
            align-items: center;
            justify-content: space-between;
            font-size: medium;
            color: aliceblue;
            background-color: #2E4535;
            border-radius: 10px;
            border: 0cm;

        }
        .menu-button:hover{
            background-color: #428C59;
            cursor: pointer;
        }

        .user{
            display: flex;
            align-items: center;
            gap: 10px;
            font-weight: 500;

            img{
                width: 85px;
                height: 85px;
                border-radius: 50%;
                object-fit: cover;
                padding: 20px 30px 20px 30px;
            

            }

            span{
                font-weight: bold;
                font-size: 20px;
                color: aliceblue;
            }
        }
    }
}